<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/navStyle.css">
  <link rel="stylesheet" href="../stylesheets/profileStyle.css">
  <style>
    .inputBox{
      padding: 5px 10px;
      border: 2px solid gray;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <% include ./nav.ejs %>
  <div>
    <div class="my-2 w-50 m-auto d-flex flex-column align-items-center  ">
        <h4 class="text-white fw-bold opacity-50 ">Create a new Post</h4>
        <p class="text-danger "><%= postUploadError %></p>  
        <form action="/upload" method="post" class="w-100 d-flex flex-column gap-2" enctype="multipart/form-data">
            <!-- <input type="text" class="inputBox" name="postText" placeholder="" required> -->
            <input type="text" class="inputBox" list="existPins" name="pinTitle" placeholder="Choose Pin"/>
              <datalist id="existPins">
                <% pinDets.forEach(pin=>{ %>
                  <option><%= pin.userPinTitle %></option>
                <% }) %>
              </datalist>
            <input type="text" class="inputBox" name="postText" placeholder="Post Caption" required>
            <textarea type="text" class="inputBox" name="description" placeholder="Description" required></textarea>
            <input type="file" class="inputBox text-white" name="file" required>
            <button type="submit" class="inputBox border-0 bg-danger text-white">Upload</button>
        </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>