<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Pinspiring | Gallery Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/navStyle.css">
    <link rel="stylesheet" href="../stylesheets/feedStyle.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<body>
    <% include ./nav.ejs %>
    <div class="grid">
        <% if(allPosts.length > 0) { %>
            <% allPosts.forEach(post => { %>
                <div class="grid-item">
                    <a href="/show/postinfo/<%= post._id %>">
                        <img src="/images/uploads/<%= post.image %>" />
                    </a>
                </div>
            <% }) %>
        <% } else { %>
            <h1 style="color: white;">No post found</h1>
        <% } %>
    </div>
    

        <script>
            $(".grid").imagesLoaded(function () {
                $(".grid").masonry({
                    itemSelector: ".grid-item"
                });
            });
        </script>
</body>

</html>