<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <!--Pinspire logo-->
        <h1 style="color: #E60019; padding: 20px 0px 0px 0px; font-size: 40px;">Pinspire</h1>
        <p class="header">Log In to see more</p>
        <p class="errorText"> <%= loginErrorFlash %> </p>
        <form action="/usersLogin" method="post">
          <input type="text" placeholder="User Name" class="detail" name="username"/><br />
          <input type="password" placeholder="Password" class="detail" name="password"/>
          <input type="submit" class="btn int" value="Log In"></input>
        </form>
        <form action="/guestuser" method="get" style="display: inline;">
  <button type="submit" class="btn int">Guest Login</button>
</form>

        <h4>Forgot your password?</h4>

        <p class="or">OR</p>
        <button class="btn ggl">
          <i
            class="fab fa-google"
            style="color: rgb(11, 241, 22); padding-right: 10px"
          ></i
          ><a href="/auth/google">Continue with Google</a>
        </button>

        <footer class="footer">
          <p>
            By continuing, you agree to Pinspire's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <a href="/register">Not on Pinspire yet? Sign up</a>
        </footer>
      </div>
    </div>
  </body>
</html>
