<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../stylesheets/profileStyle.css">
</head>

<body>
    <div class="nav-bar w-full px-[3rem] py-[0.5rem] flex justify-between items-center">
        <h3 class="text-[1.75rem] mb-[0.5rem]">Pinterest</h3>
        <div>
          <a href="/profile" class="button bg-[#0DCAF0]">Profile</a>
          <a href="/feed" class="button bg-[#0DCAF0]">Feeds</a>
          <a href="/userlogout" class="button">Logout</a>
        </div>
    </div>
    <div class="w-full min-h-screen bg-[#515455] px-10 py-8">
        <div class="cards flex flex-wrap gap-10 text-white">
            <% userDets.posts.forEach(post=>{ %>
            <div class="card w-32">
                <div class="w-32 h-40 bg-sky-200 rounded-lg">
                    <img src="/images/uploads/<%= post.image %>" class="w-full h-full object-cover" alt="">
                </div>
                <h5 class="mt-2"><%= post.postText %></h5>
            </div>
            <% }) %>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>