<div class="containerpre">
    <div class="cardpre">
      <div class="profile-picture position-relative">
        <span id="uploadIcon" class="w-25 h-25 position-absolute bottom-0 end-0 rounded-5 d-flex align-items-center justify-content-center">
          <i class="text-black  ri-pencil-fill"></i>
        </span>
        <img
          src="<%= imgFormat ? '/images/dp/' + userDets.dp : userDets.dp %>"
          alt="Profile Picture">
        </div>
        <form id="uploadForm" class="visually-hidden" action="/updateProfileImg" method="post" enctype="multipart/form-data">
          <input type="file" name="profileImg" required>
          <button type="submit">Update Dp</button>
        </form>
      <h2 class="name">
        <%= userDets.fullname %>
      </h2>
      <h3 class="username">@<%= userDets.username %>
      </h3>
      <a href="/addpost" class="btn bg-danger text-white">Add Post</a>
    </div>
  </div>